# unwanted files
.DS_Store
client/.DS_Store
server/.DS_Store

# node dependencies
node_modules/
server/node_modules/
client/node_modules/

# dotenv and credential file
server/.env
server/google_credential.json