html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eee;
    font-size: 16px;
    line-height: 1.4;
}

.success-bg {
    background-color: #40a039;
}

.warning-bg {
    background-color: #ffeb3b;
}

.failure-bg {
    background-color: #f44336;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}

.status-container {
    display: flex;
    justify-content: center;
    /* Increase width with media queries */
    width: 50%;
    height: 80%;
    box-shadow:8px 8px 5px 2px rgba(21, 21, 21, 0.5);
    background-color: #e2e2e2;
    color: #292929;
}

.status-txt-container {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.symbol {
    font-size: 6rem;
}

.success-symbol {
    color: #40a039;
}

.warning-symbol {
    color: black;
}

.status-title {
    font-size: 3rem;
}

.status-msg {
    font-size: 1.5rem;
}

button {
    outline:0; 
    font-size: 1rem;
    font-weight:600;
    background-color:#fff;
    border: .5px solid #e8e8e8;
    padding:2em 4em;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 rgba(121,121,121,.2),
      2px 2px 0 0 rgba(121,121,121,.2),
      3px 3px 0 0 rgba(121,121,121,.2),
      4px 4px 0 0 rgba(121,121,121,.2),
      5px 5px 0 0 rgba(121,121,121,.2),
      6px 6px 0 0 rgba(121,121,121,.2),
      7px 7px 0 0 rgba(121,121,121,.2),
      8px 8px 0 0 rgba(121,121,121,.2),
      9px 9px 0 0 rgba(121,121,121,.2),
      10px 10px 0 0 rgba(121,121,121,.2),
      11px 11px 0 0 rgba(121,121,121,.2),
      12px 12px 0 0 rgba(121,121,121,.2);
}

button:hover {
    cursor: pointer;
    color: #e8e8e8;
    background-color: #40a039;
    border: none;
}

button:active {
    color:#e8e8e8;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 #eee,
      2px 2px 0 0 #eee,
      3px 3px 0 0 #eee,
      4px 4px 0 0 #eee,
      5px 5px 0 0 #eee;
}

/* todo */
/* @media (max-width: 575.98px) { 
    .status-container {
        width: 95%;
    }    
}

@media (max-width: 767.98px) { 
    .status-container {
        width: 90%;
    }    
}

@media (max-width: 991.98px) { 
    .status-container {
        width: 85%;
    }    
}

@media (max-width: 1199.98px) { 
    .status-container {
        width: 80%;
    }    
} */