html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/* I'll erase the commented code later */

body {
    max-width: 100%;
    background-color: #eee;
    font-size: 16px;
    line-height: 1.4;
    color: #202020;
}

table {
    border-collapse: collapse;
    border: 2px solid #648ca6;
    width: 100%;
}

td, th {
    border: 1px solid #648ca6;
    text-align: left;
    padding: 8px;
}

.grid-container {
    display: block;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
      'main';
    height: 100vh;
    max-width: 100vw;
}

/* Give every child element its grid name */
.main {
    padding: 25px 0px;
    grid-area: main;
    background-color: #e2e4ed;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    background-color: white;
    color: #202020;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.chart {
    height: 500px;
    width: 90%;
}

.time-picker {

}

#national-stats {
    /* background: white; */
    height: 500px !important;
}

.main-overview {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr)); /* Where the magic happens */
    /* grid-auto-rows: 120px; */
    /* grid-gap: 20px; */
    margin: 30px;
}
  
.overviewcard {
    /* Hard coding width so they fit */
    width: 90%;
    display: block;
    padding: 20px;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.main-cards {
    column-count: 1;
    column-gap: 20px;
    margin: 20px;
}
  
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    background-color: white;
    margin-bottom: 20px;
    -webkit-column-break-inside: avoid;
    padding: 24px;
    box-sizing: border-box;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card:first-child {
    height: 485px;
}

.card:nth-child(2) {
    height: 485px;
}

.positive {
    color: #4CAF50;
}

.negative {
    color: #DC3522;
}

.net-change-percent {
    margin-top: 100px;
    font-weight: bold;
    font-size: 84px;
}

.net-change-value {
    font-size: 32px;
}

#state-count-container {
    margin-bottom: 0;
}

/* Non-mobile styles, 750px breakpoint */
@media only screen and (min-width: 46.875em) {
    /* Show the sidenav */
    .grid-container {
        grid-template-columns: 1fr; /* Show the side nav for non-mobile screens */
        grid-template-areas:
        "sidenav header"
        "sidenav main"
        "sidenav footer";
    }
    .sidenav {
        position: relative; /* Fixed position on mobile */
        transform: translateX(0);
    }

    .sidenav-close-icon {
        visibility: hidden;
    }
}

/* Medium-sized screen breakpoint (tablet, 1050px) */
@media only screen and (min-width: 65.625em) {
    /* Break out main cards into two columns */
    .main-cards {
        column-count: 2;
    }
}

/* To remove x that appears on the right side in search form */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }