html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    -moz-transform: scale(1, 1); /* Moz-browsers */
    zoom: 1;
    zoom: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #eee;
    font-size: 16px;
    line-height: 1.4;
}

#search-form {
    float: right;
    /* display: inline-block; */
    width: 1200px;
}

.search-container {
    display: flex;
    position: fixed;
    top: 1;
    left: 0;
    right: 0;
    z-index: 1;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    background: rgba(0, 0, 0, 0.2);
}

/* To remove x that appears on the right side in search form */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }